<!DOCTYPE html>
<html>

<head>
  <title>Xbox Live Notifier</title>
  <link rel='shortcut icon' type='image/png' href='/static/favicon.ico' />
  <style>
    .follow:after {
      content: "*";
      margin-left: 5px;
    }
    .follow.green {
      color: #00FF00;
    }
    .follow.red {
      color: #FF0000;
    }
  </style>
</head>

<body style="padding: 2rem">
  <h1>Xbox Live Notifier</h1>
  <div>
    <input type="checkbox" id="select_all" name="select_all" value="select_all" />
    <label for="select_all">Select All</label>
  </div>
  <form id="follow-form">
    <ul id="friends" style="list-style-type: none; padding: 0">
    </ul>
  </form>

  <input id="secret" type="text" placeholder="secret" />
  <button id="submit">Update</button>

  <script>
    fetch('/friends')
    .then(function(response) {
      return response.json();
    })
    .then(function(friends) {

      const html = friends.map(friend => {
        return `<li>
          <input type="checkbox" id="${friend.id}" name="friend[]" value="${friend.id}" ${friend.following ? "checked" : ""}/>
          <label class="${friend.following ? "follow" : ""} ${friend.online ? "green" : "red"}" for="${friend.id}">${friend.gamertag}</label>
        </li>`
      });

      document.getElementById("select_all").checked = friends.every(friend => friend.following);
      document.getElementById("friends").innerHTML = html.join("");

      document.onclick = function (event) {

        if (event.target.name == "select_all") {
          if (event.target.checked) {
            document.querySelectorAll("input[name='friend[]']").forEach(input => input.checked = true);
          } else {
            document.querySelectorAll("input[name='friend[]']").forEach(input => input.checked = false);
          }
        }

        if (event.target.name == "friend[]") {
          if (document.querySelectorAll("input[name='friend[]']:checked").length == friends.length) {
            document.getElementById("select_all").checked = true;
          } else {
            document.getElementById("select_all").checked = false;
          }
        }
      }

      document.getElementById("submit").onclick = function (event) {
        const form = new FormData(document.getElementById("follow-form"));
        const secret = document.getElementById("secret").value;
        fetch("/follow", {
          method: "POST",
          redirect: "follow",
          headers: {"S-AUTH": secret},
          body: form
        })
        .then(response => {
          location.reload();
        });
      }
    });
  </script>
</body>

</html>
